@charset "EUC-KR";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap')
	;

body {
	background-color: #191A1D;
	font-family: 'Noto Sans KR', sans-serif;
}

.tab {
	overflow: hidden;
	border-bottom: 1px solid;
	border-color: rgb(163, 163, 163);
	position: relative;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
	color: rgb(163, 163, 163);
	transition: color 0.1s ease 0s;
	font-weight: 900;
}

.tab button:hover {
	color: white;
}

.tab button.active {
	color: white;
}


/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	font-weight: 500;
	color: white
}

.tabcontent.active {
	display: block;
}

.Movie_Search {
	margin: 1rem;
}

.Movie_result_list {
	box-sizing: border-box;
}

.Movie_result {
	position: relative;
	display: inline-block;
	width: 50%;
	max-width: 200px;
	margin-top: 1rem;
	margin-right: 1rem;
	height: 286px;
}

.Movie_result_img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
}

.result_list_title {
	max-width: 100%;
	font-size: 1.2rem;
	line-height: 1.47;
	color: hsla(0, 0%, 100%, .87);
	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: color .1s;
	font-weight: 700;
	margin-top: 0.5rem;
	white-space: nowrap;
}

@keyframes up {from { transform:translatey(0px);	
}

to {
	transform: translatey(-18px);
}

}@keyframes down {from { transform:translatey(-18px);
	
}

to {
	transform: translatey(0px);
}

}
.result_up {
	animation: up 0.5s ease-in-out alternate forwards;
}

.result_down {
	animation: down 0.5s ease-in-out alternate forwards;
}

.MY_ZZim_Notice {
	padding: 3vw 2vw 3vw 2.5vw;
	border-radius: 10px;
	background-color: #111111;
	font-size: 1rem;
	display: flex;
	justify-content: space-between;
}

.MY_ZZim_Notice h3 {
	margin-top: 0;
	font-size: 1.25em;
	opacity: .7;
}

.MY_ZZim_Notice li {
	margin: 0;
	padding: 0;
	font-size: 1.175em;
	font-weight: 400;
	line-height: 1.5;
	opacity: .5;
	white-space: nowrap;
}

ul {
	list-style: none;
}

.page_select_right {
	margin-top: 1rem;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.My_edit_btn {
	padding: 0.25rem 0.667rem;
	border-radius: 3px;
	border: 1px solid rgb(78, 78, 78);
	font-size: 1rem;
	line-height: 1.4;
	opacity: 0.7;
	transition: opacity 0.1s ease 0s;
	display: initial;
	background-color: transparent;
	color: hsla(0, 0%, 100%, .5);
	font-weight: 700;
}

.My_edit_btn:hover, .My_Edit_btn_all:hover, .My_Edit_btn_del:hover,
	.My_Sub_btn:hover {
	color: white;
	border-color: white;
	cursor: pointer;
}

.My_Edit_btn_hidden {
	display: none;
	-webkit-box-align: center;
	align-items: center;
}

.My_Edit_btn_all {
	padding: 0.25rem 0.667rem;
	border: none;
	font-size: 1rem;
	line-height: 1.4;
	opacity: 0.7;
	transition: opacity 0.1s ease 0s;
	display: initial !important;
	background-color: transparent;
	color: hsla(0, 0%, 100%, .5);
	font-weight: 900;
}

.My_Edit_btn_del {
	padding: 0.25rem 0.667rem;
	border: none;
	font-size: 1rem;
	line-height: 1.4;
	opacity: 0.7;
	transition: opacity 0.1s ease 0s;
	display: initial !important;
	background-color: transparent;
	color: hsla(0, 0%, 100%, .5);
	margin-right: 1rem;
	font-weight: 900;
}

.My_Sub_btn {
	padding: 0.25rem 0.667rem;
	border-radius: 3px;
	border: 1px solid rgb(78, 78, 78);
	font-size: 1rem;
	line-height: 1.4;
	opacity: 0.7;
	transition: opacity 0.1s ease 0s;
	display: initial !important;
	background-color: transparent;
	color: hsla(0, 0%, 100%, .5);
	font-weight: 700;
}

.my_review_list {
	border: 3px solid;
	border-color: hsla(0, 0%, 100%, .5);
	padding: 2rem;
	width: 26rem;
	margin: 1rem 1rem 1rem 1rem;
	height: max-content;
}

.my_review_list h3 {
	display: inline-block;
	font-size: 1.4rem;
	font-weight: 700;
}

.my_review_list span {
	font-size: 1.1rem;
	font-weight: 700;
	display: block;
}

.my_review_list h4 {
	font-weight: 600;
}

.close {
		overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        line-height: 1.2;
        text-align: left;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2 ;
        -webkit-box-orient: vertical;
		font-weight: 500;
}

.my_Review {
	width: 95vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 1rem 3rem 1rem 3rem;
}

.more_content{
	appearance: none;
	border-radius: 27px;
	color: white;
	background-color: transparent !important;
	border: 3px solid !important;
	border-color: hsla(0, 0%, 100%, .5) !important;
	font-size: 0.8rem;
	padding: 1% 3% 1% 3%;
	float: right;
	margin: 1rem -1.1rem -1rem 0;
	font-weight: 900;
	cursor: pointer;
}
.more_content:hover{
	border-color: white  !important;
}

.more_content::before {
  content: '더보기';
}

.more_content:checked::before {
  content: '닫기';
}

.close:has(+ .more_content:checked) {
  -webkit-line-clamp:unset
}


.my_review_list button:hover {
	border-color: white;
}

.result-title::before {
	content: "";
	display: block;
	margin: 0 auto 0.825em;
	width: 2.835em;
	height: 2.835em;
	border: 0.085em solid #848484;
	border-radius: 100%;
	background-image: url("../etc/느낌표.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
}

.result-title {
	padding-top: 1.75em;
	margin-bottom: 4.175em;
	color: gray;
	font-size: 2rem;
	line-height: 1.45;
	text-align: center;
	width: 100%;
}

.my_main {
	color: white;
	border: 3px solid;
	border-color: hsla(0, 0%, 100%, .5);
	background-color: #141414;
	font-size: 1rem;
	padding: 0px 1rem 0 1rem;
	font-weight: 900;
	cursor: pointer;
	height: 4rem;
	margin-top: 0.85rem;
}

.my_main:hover {
	border-color: white;
}

.my_edit_se {
	border: 1px solid rgb(78, 78, 78);
	margin: 1rem;
	font-size: 0.7rem;
}

.movie_rating {
	position: relative;
}

.rating_mark {
	position: absolute;
	width: 2rem;
	height: 2rem;
	left: 162px;
	top: 5px;
}

#line {
	position: absolute;
	height: 4px;
	background-color: white;
	transition: .3s ease-out;
}

input[class="movie_edit_check"]+label{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0.3em;
    right: 0.2em;
    background-position: 99% 2%;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url(../etc/마이페이지_체크_전.svg);
    opacity: .7;
   	display:none;
   	cursor:pointer;	
}

input[class="movie_edit_check"]:checked+label {
    background-image: url(../etc/마이페이지_체크_후.svg);
    opacity: 1;
    
    
}

input[class="movie_edit_check"] {
	display: none;
}

#ZZim.tabcontent{
	display:block;
}

.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
  font-weight: 900;
}

.cancelbtn:hover, .deletebtn:hover {
	color:white;
}

/* Add a color to the cancel button */
.cancelbtn {
    border: none;
    background-color: transparent;
   	color: hsla(0, 0%, 100%, .5);
}

/* Add a color to the delete button */
.deletebtn {
    border: none;
    background-color: transparent;
   	color: hsla(0, 0%, 100%, .5);
   	border-right: 1px solid;
   	border-color: hsla(0, 0%, 100%, .5);
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: rgba(0, 0, 0, 0.8);
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
 	background-color: #141414;
    width: 27%;
    position: fixed;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
     width: 100%;
}
}

.container p{
	color: #eee;
	font-size: 1.3rem;
}

.clearfix{
	margin-top:3rem;
}

.dropbtn {
  cursor:pointer;
  color: white;
  padding: 16px;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
}

.dropup {
    position: relative;
    display: inline-block;
    float: right;
    bottom: 2rem;
    left: 2rem;
}

.dropup-content {
  display: none;
  position: absolute;
  min-width: 160px;
  top: 50px;
  z-index: 1;
}

.dropup-content button {
  background-color: transparent;
  border:none;
  cursor:pointer;
  color: hsla(0, 0%, 100%, .5);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 0.8rem;
  font-weight: 700;
}

.dropup-content button:hover {color: white}

.dropup:hover .dropup-content {
  display: block;
}

#review_num{display:none;}

#line.active{
	width: 100px;
    left: 47px;
    top: 49px
}

.Movie_result a{text-decoration: none;}
